@model Services.Dtos.CountryDto

@{
    ViewBag.Title = "CannotDelete";
}


<h2>" @Model.CountryName " no se puede eliminar!</h2>

<br />

<div class="col-sm-6">
    <table class="table table-hover">
        <tr>
            <th class="">
                <label>Campo</label>
            </th>
            <th class="">
                <label>Detalle / Valor</label>
            </th>
        </tr>

        <tr>
            <td>
                <label>ID: </label>
            </td>
            <td>
                <label>@Model.CountryID.ToString()</label>
            </td>
        </tr>


        <tr>
            <td>
                <label>Nombre: </label>
            </td>
            <td>
                <label>@Model.CountryName</label>
            </td>
        </tr>
        
    </table>
    <br />
    <h5><label>Imposible borrar el País ya que posee Empleados relacionados.</label></h5>
</div>
<br />

<form action="/country/index" method="post">

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input hidden value="@Model.CountryID" name="id" />
            <a href="/country/index" class="btn cancel btn-side-margin btn-glow">Volver</a>
        </div>
    </div>

</form>
<br />
<br />
<br />