@{
    ViewBag.Title = "Nuevo país";
}

<h1>Nuevo País</h1>


<form action="/country/creation" method="post" class="validate-form">

        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h6>Por favor complete el nombre del nuevo País y luego haga click en "CREAR" para confirmar</h6>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label class="control-label col-md-2">Nombre</label>
                <div class="col-md-10">
                    <input required type="text" name="name" placeholder="Nombre" class="form-control name-validation" maxlength="20" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <a href="/country/index" class="btn cancel btn-side-margin btn-glow">Cancelar</a>
                    <button type="submit" class="btn btn-default accept">Crear</button>
                </div>
            </div>
        </div>
    </form>