@{
    ViewBag.Title = "Página principal";
}

<div class="jumbotron">
    <div align="center">
        <h3 class="text-center" align="center">ADMINISTRADOR DE PERSONAL Y HORARIOS DE TRABAJO</h3>
        <br />
        <p class="lead text-success" style="font-size:20px"><strong>Bienvenido</strong></p>

        <div class="row">
            <div class="col-md-12">

            </div>

            <div id="test" align="center" class="col-md-12">
                <img src="~/images/employees-meeting.png" class="one" width="620" height="420" />
                @*<img src="~/Content/images/employee-phone.png" class="two" width="380" height="380"/>*@
            </div>


        </div>

        <br />
        <br />

        <p class="lead"><big>Comience a utilizar ya mismo nuestra herramienta.</big></p>
        <p class="lead"><small>Fácil de usar y resultados instantáneos.</small></p>
        <p><a id="click" class="btn btn-primary btn-lg">Comenzar &raquo;</a></p>
    </div>
</div>

<div id="bottomdiv" class="row">
    <div class="jumbotron col-md-4">
        <h2>Administrar Horarios</h2>
        <p>
            Comience a controlar el horario de entrada y salida de su personal de una manera simple y eficaz.
        </p>
        <p><a class="btn btn-default" href="/shifts/selectshift">Ingresar Horarios...&raquo;</a></p>
    </div>

    <div class="jumbotron col-md-4">
        <h2>Administrar Empleados</h2>
        <p>De de alta nuevos empleados, actualice y controle su información. Compruebe cuanto ganan sus empleados cada mes.</p>
        <p><a class="btn btn-default" href="/employees/index">Empleados... &raquo;</a></p>

    </div>

    <div class="jumbotron col-md-4">
        <h2>Administrar Países</h2>
        <p>Cree, modifique y elimine países que corresponden a cada miembro de su personal.</p>
        <p><a class="btn btn-default" href="/country/index">Países... &raquo;</a></p>
    </div>
</div>
<br />
<br />
<br />

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script>

    //document.onload(fadeinpics());
    $(document).onload(fadeinpics());
    $(document).onload(fadeFunc());

    function fadeinpics() {
        //al cargar el index se oculta la imagen automáticamente y luego se muestra lentamente (fadeIn)
        $("#test").fadeOut(0);
        //$("#test").hide("slow");
        $("#test").fadeIn(3000);
    }
</script>

<style>
    body {
        background: url('../Images/home-background.jpg') no-repeat center center fixed !important;
        background-repeat: no-repeat;
    }

    .jumbotron {
        background-color: rgba(0, 0, 0, 0.50);
    }

    #click {
        cursor: pointer;
    }
</style>

<script>
    //funcion que se agrega al botón en el index para hacer un scroll de pantalla hacia las opciones que están abajo en el index
    $(document).ready(function () {
        $("#click").click(function () {
            $('html, body').animate({
                scrollTop: $("#bottomdiv").offset().top
            }, 1000);
        });
    });
</script>
