@*model List<EmployeeDto> *@

@{
    ViewBag.Title = "Ingresar turno";
}

<h2>Ingresar horario</h2><br>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="col-md-10">
                <h5>Ingrese el turno</h5>

                <select name="shift" class="btn btn-block">
                    <option value="mañana">Mañana</option>
                    <option value="tarde">Tarde</option>
                    <option value="noche">Noche</option>
                </select>
                <br>

                <button type="submit" class="btn btn-default accept">Aceptar</button>

            </div>
        </div>

    </div>
}